h2 {
    border-bottom: 1px solid #EFF1F1;
}

hr {
    color: #EFF1F1;
    background-color: #EFF1F1;
}

pre {
    background-color: #f8f8f8;
}

a:link, a:visited, a:active {
    color: #778087;
}

.subtle {
    background-color: #fffff9;
}

.topic_content {
    color: #000;
}

body {
    background-color: #FFF;
}
